{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "eslintIntegration": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    }
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react$",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ]
}
